.advantages {
  position: relative;

}

.advantages__maintitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin: 32px 0 0 0;
}

.advantages__maintext {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin: 35px 0 16px 0;
}

.advantages__divider {
  position: absolute;
  z-index: 2;
  background: url("../img/divider.png");
  top: 100;
  width: 320px;
  height: 37px;
  background-color: $lightblue;
}

@media (min-width: $tablet-width) {
  .advantages__divider {
    visibility: hidden;
  }
}

@media (min-width: $desktop-width) {

}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.advantages__bonuslist {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .advantages__bonuslist {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {
  .advantages__bonuslist {
    display: flex;
  }
}

.advantages__bonus {
  padding: 0 0 0 65px;
}

@media (min-width: $tablet-width) {
  .advantages__bonus {
    margin: 80px 0 0 0;
    text-align: center;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {}

.advantages__title--bonus {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -50px;
  }
}

.advantages__title {
  &--living:before {
    background: url("../img/icon-house.png");
    width: 39px;
    height: 37px;
  }

  &--food:before {
    background: url("../img/icon-burger.svg.png");
    width: 39px;
    height: 35px;
  }

  &--gift:before {
    background: url("../img/icon-gift.svg.png");
    width: 32px;
    height: 38px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__title:before {
    top: -55px;
    left: calc(50% - 18px);
  }
}

@media (min-width: $desktop-width) {
  .advantages__bonustext {
    max-width: 185px;
  }
}

.advantages__number {
  margin: 11px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  &--black {
    color: $black;
  }
}

.advantages__greylist {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: $graybg;
}

@media (min-width: $tablet-width) {
  .advantages__greylist {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {
  .advantages__greylist {
    flex-direction: row;
    justify-content: space-around;
  }
}

.advantages__item {
  &--blue {
    background-color: $lightblue;

    &:first-child {
      padding: 54px 0 40px 0;
    }

    &:nth-child(2) {
      padding: 54px 0 35px 0;
    }
  }

  &--grey {

    padding: 0 18px 0;

    &:not(:last-child) .advantages__text {
      border-bottom: 1px solid $advborder;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__item {

    &:first-child {
      display: flex;
    }

    &:nth-child(3) {
      display: flex;
    }
    &--grey {
      max-width: 256px;
      text-align: center;
    }
  }
}

@media (min-width: $desktop-width) {

}
.advanatages__image {
  background-image: url("../img/photo-city.jpg");
  width: 320px;
}
@media (min-width: $tablet-width) {

  .advantages__image {
    background-image: url("../img/photo-city-tablet.jpg");
    width: 512px;

  }
}

@media (min-width: $desktop-width) {
  .advantages__image {
    width: 800px;
  }
}

.advantages__title {

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  &--white {
    text-align: center;
    color: $white;
  }

  &--grey {
    margin: 24px auto 0;
    text-align: center;
  }

  &--bonus {
    margin: 31px 0 0 0;
  }
}



.advantages__text {
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  &__living {
    margin: 16px 0 0 0;
  }

  &__food {
    margin: 16px 0 0 0;
  }

  &--gift {
    margin: 16px 0 52px 0;
  }

  &--white {
    margin: 17px 0 0 0;
    text-align: center;
    color: $white;
  }

  &--grey {
    margin: 16px auto;
    max-width: 284px;
    padding: 20px 0 24px;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .advantages__bonustext {
    // margin: 10px 36px 59px 36px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__bonustext {
    margin: 10px 36px 59px 36px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--blue {
    width: 256px;


  }
}

@media (min-width: $desktop-width) {
  .advantages__item--blue {
    width: 400px;

  }
}
