#main-nav__toggle {
  opacity: 0;
}

.main-nav {

}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1200px;
  }
}

.main-nav__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  cursor: pointer;
  z-index: 1;
}

.main-nav__btn>.main-nav__spn,
.main-nav__btn>.main-nav__spn::before,
.main-nav__btn>.main-nav__spn::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: $lightblue;
}

.main-nav__btn>.main-nav__spn::before {
  content: '';
  top: -8px;
}

.main-nav__btn>.main-nav__spn::after {
  content: '';
  top: 8px;
}

.main-nav__list {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 223px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  box-shadow: 1px 0px 6px $menushadow;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    width: 1200px;
  }
}


.main-nav__item {
  display: block;
  height: 55px;
  border: 1px solid $menuborder;
  background: $lightblue;
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: $white;
  mix-blend-mode: normal;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.main-nav__item:hover {
  background-color: $blue;
}

#main-nav__toggle:checked~.main-nav__btn>.main-nav__spn {
  transform: rotate(45deg);
  background-color: $white;
}

#main-nav__toggle:checked~.main-nav__btn>.main-nav__spn::before {
  top: 0;
  transform: rotate(0);
  background-color: $white;
}

#main-nav__toggle:checked~.main-nav__btn>.main-nav__spn::after {
  top: 0;
  transform: rotate(90deg);
  background-color: $white;
}

#main-nav__toggle:checked~.main-nav__list {
  visibility: visible;
  left: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    background: none;
    color: black;
    border: none;

  &:nth-child(2) {
    margin: 0 180px 0 0;
  }
}
.main-nav__btn {
  visibility: hidden;
}
.main-nav__list {
  visibility: visible;
}
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    background: none;
    color: black;
  }
  .main-nav__btn {
    visibility: hidden;
  }
  .main-nav__list {
    visibility: visible;
  }
}
